<div class= "container" style = "margin-top: 7%">
    <div class="ui grid">
        <div class="two wide column"></div>

        <div class="eight wide column">
            <h1><strong>Find The Perfect Freelance Services For Your Business</strong></h1>
            <div class="ui icon input">
                <input type="text" placeholder="Search..." style="width: 100%">
                <%= link_to "Search", "#", class: "ui green button"%>
                <i class="search icon"></i>
            </div>
            <div style="margin-top: 2%"><strong>Popular:</strong> 
                <span class="ui mini label">Fitness Trainer</span> 
                <span class="ui mini label">Lawn Services</span>
                <span class="ui mini label">Blogger</span>
                <span class="ui mini label">Photographer</span>
            </div>
            <div class="ui divider"></div>
        </div>

        <div class="six wide column"></div>
        

    </div>
</div>

