@import "semantic-ui";

.brand-name{
    font-family: 'Fredoka One' !important;
    font-size: 20px;
}

#welcome{
    background-image: asset-url('background2.png');
    background-size: cover;

}

.sub{
    color:white;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
    color:white;
}