<div class="ui secondary pointing menu">
  <a class="item brand-name">
    Freelance Hub
  </a>
  
  <div class="right menu">
    
    <a class="item sub">
      <h4>Sign in</h4>
    </a>
    <a class="item sub">
      <h4>Become a Freelancer</h4>
        
    </a>
    <a class="item sub">
      <span class="ui green button">Join</span>
    </a>
  </div>
</div>